.boxes3 {
    height: 175px;
    width: 153px;
}

#n img {
    max-height: none !important;
    max-width: none !important;
    background: none !important
}

#inst i {
    max-height: none !important;
    max-width: none !important;
    background: none !important
}

@media screen and (max-width: 992px) {
    .instagram-media {
        width: 100% !important;
    }
}