body, html {
    height: 100%;
    margin: 0;
}

h1{
    color: var(--cor-rosa-principal);
    text-align:center;
    margin-bottom: 1em;
} 

.logo{
    width: 308px;
    margin-bottom: 59px;
}

/* .formulario {
    max-width: 400px;
    margin: 0 auto;
} */