body,
html {
    height: 100%;
    margin: 0;
}

h1 {
    color: var(--cor-rosa-principal);
    text-align: center;
    margin-bottom: 1em;
}

.botao-check {
    margin-bottom: 1em;
    color: var(--cor-preto);
}