section {
    display: none;
    padding: 20px 0 0;
    border-top: 1px solid #ddd;
}

input[type="radio"] {
    display: none;
}

.label-tab {
    display: inline-block;
    margin: 0 0 -1px;
    padding: 15px 25px;
    font-weight: 600;
    text-align: center;
    color: #bbb;
    border: 1px solid transparent;
}

.label-tab:before {
    font-family: fontawesome;
    font-weight: normal;
    margin-right: 10px;
}

.label-tab:hover {
    opacity: 0.9;
    cursor: pointer;
}

input:checked+label {
    color: var(--cor-preto);
    border: 1px solid #ddd;
    border-top: 2px solid var(--cor-rosa-principal);
    border-bottom: 1px solid #fff;
}

#tab1:checked~#content1,
#tab2:checked~#content2,
#tab3:checked~#content3,
#tab4:checked~#content4 {
    display: block;
}

@media screen and (max-width: 650px) {
    /* .label-tab {
    font-size: 0;
  } */
    .label-tab:before {
        margin: 0;
        font-size: 0;
    }
}

@media screen and (max-width: 400px) {
    .label-tab {
        padding: 15px;
    }
}